﻿@{
    ViewData["Title"] = "Home Page";
}
<a href="http://www.accuweather.com/en/us/new-york-ny/10007/weather-forecast/349727" class="aw-widget-legal">
    <!--
    By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
    -->
</a><div id="awcc1459808829000" class="aw-widget-current" data-locationkey="" data-unit="c" data-language="en-us" data-useip="true" data-uid="awcc1459808829000"></div>
<script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img width="360" height="315"src="~/images/fish.jpg" alt="ASP.NET" class="img-responsive" />
         </div>
        <div class="item">
            <img src="~/images/Banner-02-VS.png" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/ASP-NET-Banners-02.png" alt="Package Management" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner-01-Azure.png" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br>
<hr>
<h3>Video</h3>
<div class="row">
    <h4>How do fish swim in harmony<a href="https://www.youtube.coml" target="_blank">You Tube</a> </h4>
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dkP8NUwB2io" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<br>
<hr>
<h3>Link:  <a id="linkId" href="http://androidwalls.net/" target="_blank">Andriod Walls</a></h3>
<div>

    Best wallpapers for andriod source.
    <a id="linkId" href="http://androidwalls.net/" target="_blank">Andriod Walls</a>
</div>


